/********************************************************
UNIVERSAL STYLES
********************************************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-container{
    display: flex;
    flex-direction: column;
}

/********************************************************
NAVBAR STYLES
********************************************************/

nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin: 1rem;
}

.nav-logo{
    height: 100%;
}

.nav-list-container{
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.nav-list{
    font-size: clamp(1.5rem, 3vw, 2rem);
    display: flex;
    gap: 2rem;
    list-style: none;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
    
}

.list-item{
    text-decoration: none;
    cursor: pointer;
}

.socials-container{
    display: flex;
    align-items: center;
}

.nav-instagram-logo{
    height: 60%;
}

.hamburger-container{
    display: flex;
    align-items: center;
    display: none;
    padding-right: 0.5rem
}

.bar{
    display: block;
    background-color:black;
    height: 10px;
    width: 40px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/********************************************************
HOME PAGE STYLES
********************************************************/
.hero-section{
    display: flex;
    width: 100%;
    background-color: #5f6351;
    justify-content: space-evenly;
}

.text-content-container{
    display: flex;
    flex-shrink: 2;
    align-items: flex-end;
    margin-bottom: 15vh;
    justify-content: right;
    width: 40%;
}

.text-box{
    display: flex;
    flex-direction: column;
    border: white solid 2px;
    border-radius: 5px;
    height: auto;
    background-color: rgba(207, 207, 207, 0);
    width: 40vw;
    padding: 2rem;
    justify-content: center;
    gap: 3rem;
}

.text-box-small{
    display: none;
}

.text-box h1{
    font-family: "Roboto Condensed", sans-serif;
    font-size: clamp(2rem, 4vw, 6rem);
    color: white;
}

.text-box button{
    width: auto;
    background-color: #ffffff5d;
    border: white solid 2px;
    border-radius: 5px;
    font-size: clamp(1rem, 2vw, 3rem);
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    padding: 1rem;
    align-self: flex-end;
}

.text-box button:hover{
    background-color: white;
    color: #5f6351;
    cursor: pointer;
}

.hero-image-container{
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    flex-shrink: 1;
}

.hero-image{
    transform: translateY(5vh);
    max-height: 80vh;
}

/********************************************************
ABOUT US SECTION STYLES
********************************************************/

.about-us-section{
    margin-top: 10vh;
    align-self: center;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #cecdc7;
}

.about-us-content-container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    gap: 3rem;
    padding: 0 3rem 0 0;
}

.about-us-text-container{
    width: 40%;
}

.about-us-section h1{
    font-family: "Poiret One";
    font-weight: 700;
    font-size: clamp(2rem, 4vw, 8rem);
    padding-bottom: 2rem;
}

.about-us-text-container p{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: "Roboto Condensed";
}

.about-us-image-container{
    width: 60%;
    height: auto
}

.about-us-image{
    width: 100%;
}

/********************************************************
PROJECTS SECTION STYLES
********************************************************/

.projects-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    align-self: center;
    padding: 4rem 0;
}

.projects-section h1{
    font-family: "Poiret One";
    font-weight: 700;
    font-size: clamp(2rem, 4vw, 8rem);
    padding-bottom: 2rem;
}

.projects-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}

.single-project-container{
    display: inline-block;
    width: 33%;
    text-decoration: none;
}

.single-project-container figure{
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.3s ease;
}

.single-project-container figure:hover{
    transform: scale(1.1);
}

.single-project-container figcaption {
    color: black;
    font-size: clamp(1rem, 3vw, 3rem);
    text-align: center;
    font-family: "Poiret One";
}

.single-project-container p{
    color: black;
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-align: center;
    font-family: "Poiret One";
}

.project-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-project-container button{
    background-color: #cecdc7;
    padding: 0.5rem;
    font-family: "Poiret One";
    font-size: clamp(1rem, 3vw, 1.5rem);
    width: 40%;
    align-self: center;
    border: none;
    border-radius: 5px;
}

.single-project-container button:hover{
    background-color: #838281;
}




/********************************************************
FOOTER STYLES
********************************************************/

footer{
    background-color: black;
    display: flex;
    padding: 3rem;
    justify-content: center;
}

.address-container{
    width: 50%;
    color: white;

}

/********************************************************
********************************************************
MEDIA QUERIES
********************************************************
********************************************************/

@media(max-width: 1350px){

/********************************************************
HOME PAGE STYLES
********************************************************/

    .text-content-container{
        display: none;
    }

    .text-box-small{
        position: absolute;
        display: flex;
        flex-direction: column;
        border: white solid 2px;
        border-radius: 5px;
        height: auto;
        background-color: rgba(81,86,85, 0.9);
        width: 40vw;
        padding: 2rem;
        justify-content: center;
        gap: 1.5rem;
        z-index: 11;
        left: 10vw;
        bottom: 20%;
    }

    .text-box-small h1{
        font-family: "Roboto Condensed", sans-serif;
        font-size: clamp(1.5rem, 4vw, 6rem);
        color: white;
        
    }

    .hero-image-container{
        width: 100%;
        justify-content: flex-end;
        margin-right: 3vw;
        background-color: #5f6351;
    }
}

@media(max-width: 780px){

/********************************************************
NAVBAR STYLES
********************************************************/
    .hamburger-container{
        display: flex;
    }

    .hamburger{
        display: flex;
        height: 6vh;
        flex-direction: column;
        gap: 0.25rem;
        justify-content: center;
        align-items: center;
        padding: 0.25rem;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(0.99rem) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-0.99rem) rotate(-45deg);
    }

    .nav-list-container{
        position: fixed;
        right: -100%;
        z-index: 20;
        top: 12.5vh;
        width: 100vw;
        background-color: rgba(81, 86, 85, 0.95);
        justify-content: center;
        text-align: center;
        padding: 1rem;
        transition: 0.3s;
    }

    .nav-list{
        flex-direction: column;
    }

    .socials-container{
        display: none;
    }

    .nav-list-container.active{
        right: 0;
    }

/********************************************************
HOME PAGE STYLES
********************************************************/

    .hero-image-container{
        justify-content: center;
        margin-right: 0;
        width: 100%;
    }

    .hero-image{
        transform: none;
        max-width: 100%;
    }

    .text-box-small{
        width: 60%;
        bottom: 15%;
        text-align: center;
        padding: 1rem;
    }

    button{
        align-self: center;
    }

    .about-us-content-container{
        flex-direction: column;
        padding: 0;
        gap: 1.5rem;
    }

    .about-us-image-container{
        width: 80%;
        height: auto
    }

    .about-us-text-container{
        width: 80%;
    }

    .about-us-section h1{
        font-family: "Poiret One";
        font-weight: 700;
        font-size: clamp(2rem, 4vw, 8rem);
        align-self: baseline;
        padding-bottom: 1rem;
    }
}

@media(max-width: 480px){
    .text-box-small{
        width: 85%;
        padding: 0.5rem;
        gap: 1rem;
    }

    .about-us-content-container{
        gap: 1rem;
    }
}
